@model IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="container text-center">
    <h1 id="index-heading">HCM System</h1>
    <h3 id="index-h3">Welcome to the Company's Human Capital Management System! Here are some of the features you can navigate through.</h3>
    <div class="container-fluid mt-4 text-center">
        <div class="row justify-content-center" style="display: inline-flex" id="row-cards">
            <div class="card" style="height: 25rem; width: 26rem;">
                <img class="card-img-top" style="height: 205px; object-fit: cover" src="https://itsm.tools/wp-content/uploads/2020/07/successful-employees.png">
                <div class="card-body">
                    <h3 class="card-title mb-3">Employees</h3>
                    <a class="btn btn-primary text-center" asp-area="" asp-controller="Employees" asp-action="All">View all</a>
                </div>
            </div>
            <div class="card" style="height: 25rem; width: 26rem;">
                <img class="card-img-top" style="height: 205px;object-fit: cover" src="https://www.iesgp.com/hubfs/linkingdepartments10115.jpg">
                <div class="card-body">
                    <h3 class="card-title mb-3">Departments</h3>
                    <a class="btn btn-primary text-center" href=".../Views/Departments/All.cshtml">View all</a>
                </div>
            </div>
            <div class="card" style="height: 25rem; width: 26rem;">
                <img class="card-img-top" style="height: 205px;object-fit: cover" src="https://www.aihr.com/wp-content/uploads/human-resources-specialist-cover.png">
                <div class="card-body">
                    <h3 class="card-title mb-3">HR Specialists</h3>
                    <a class="btn btn-primary text-center" asp-area="" asp-controller="HRSpecialists" asp-action="All">View all</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-12 text-center mb-3">
            <button class="btn btn-info" id="statistics-button" onclick="myFunction()">Show Statistics</button>
        </div>
    </div>

    <div class="jumbotron d-none mt-4" id="statistics" style="padding-top: 20px; padding-bottom: 20px; padding-left: 10px; padding-right: 10px;">
        <div class="row">
            <h2 class="col-md-4 text-center" id="total-employees"></h2>
            <h2 class="col-md-4 text-center" id="total-users"></h2>
            <h2 class="col-md-4 text-center" id="total-hrSpecialists"></h2>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#statistics-button').on('click', ev => {
            $.get('/api/statistics', (data) => {
                $('#total-employees').text(data.totalEmployees + " Employee(s)");
                $('#total-users').text(data.totalUsers + " User(s)");
                $('#total-hrSpecialists').text(data.totalHRSpecialists + " HR Specialist(s)");

                $('#statistics').removeClass('d-none');
                $('#statistics-button').hide();
            });
        });
    </script>
}